<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:fragment="head(title)"> <!--title为传参-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:replace="${title}">博客详情</title>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../static/lib/editormd/css/editormd.min.css" rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link href="../../static/css/me.css" rel="stylesheet" th:href="@{/css/me.css}">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
  </head>
<body>

<!--头部导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:fragment="menu(n)" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">管理后台</h2>
      <a class="m-item item m-mobile-hide" href="#" th:classappend="${n==1}?'active'" th:href="@{/admin/blogs}"><i class="mini home icon"></i>博客</a>
      <a class="m-item item m-mobile-hide" href="#" th:classappend="${n==2}?'active'" th:href="@{/admin/types}"><i class="mini idea icon"></i>分类</a>
      <a class="m-item item m-mobile-hide" href="#" th:classappend="${n==3}?'active'" th:href="@{/admin/tags}"><i class="mini tags icon"></i>标签</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <img class="ui avatar image" th:src="@{/images/avatar.jpg}">
            <span>sufty</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#" th:href="@{/admin/logout}">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="ui menu toggle black icon button m-right-top m-mobile-show" href="#">
    <i class="sidebar icon"></i>
  </a>
</nav>


<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive" th:fragment="footer">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced ">代码托管</h4>
        <div class="ui inverted link list">
          <a class="item m-text-thin" href="https://github.com/sudty">我的github</a>
          <a class="item m-text-thin" href="https://gitee.com/sufty">我的gitee</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
        <div class="ui inverted link list">
          <a class="item m-text-thin" href="#">Email：3167675662@qq.com</a>
          <a class="item m-text-thin" href="#">QQ：3167675662</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
        <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022</p>
  </div>

</footer>


<th:block th:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</th:block>

</body>
</html>